# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare binary files to avoid LF normalization
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.obj binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
*.pdf binary

# Explicitly handle C# scripts
*.cs text diff=csharp eol=lf